{
  "presets": [
    "@babel/preset-env",
    "minify",
    "@babel/preset-react"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ]
  ],
  "comments": true
}
